/*Ne version*/
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(0, 0, 0);

    font-family: Arial, sans-serif;
    color: white;
}

.top-bar {
    display: flex;
    align-items: center;
    background-color: rgb(25, 25, 25);
    padding: 10px;
}

.top-bar img {
    width: 40px;
    padding: 10px;
}

#phonehub {
    color: white;
    padding-left: 10px;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

#hub {
    display: inline;
    color: black;
    background-color: orange;
    border-radius: 6px;
    padding: 4px;
}

#searchbar {
    margin-left: 7%;
    text-align: center;
    justify-content: center;
    border: none;
    padding: 13px 100px;
    border-radius: 20px;
    background-color: rgb(68, 68, 68);
    color: white;
    width: 30%;
    transition: .5s;
}

#searchbar:hover{
    transition: .5s;
    background-color: rgb(48, 48, 48);
    color: white;
}

#aiphones {
    background-color: orange;
    color: black;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    padding: 7px 12px;
    margin-left: 20px;
    border: none;
    cursor: pointer;
}

#uploadvideo,
#uploadpic {
    padding-top: 20px;
    margin-left: 10px;
    width: 40px;
}

#user {
    position: absolute;
    top: 8px;
    right: 16px;
    width: 40px;
}

.option-layout {
    text-align: center;
    background-color: rgb(26, 26, 26);
    padding: 10px 0 20px;
}

.option-layout button {
    background: none;
    border: none;
    color: white;
    font-size: 19px;
    margin: 0 10px;
    padding-left: 60px;
    display: inline-block;
    cursor: pointer;
}

.banner {
    text-align: start;
    width: 100%;
    margin: 10px;
}

.banner img {
    max-width: 100%;
    height: auto;
    background-color: red;
}

.banner #text {
    font-size: 20px;
    margin-top: 10px;
}

.banner #usa {
    width: 40px;
    border-radius: 100%;
    margin-left: 10px;
    vertical-align: middle;
}

.selections {
    text-align: center;
    margin: 10px; /*https://www.w3schools.com/cssref/pr_pos_overflow.php*/
    overflow-x: scroll;
    white-space:nowrap;
    width: 100%;

}
/* add overflow to keep sections going*/
.selections button {
    background-color: rgb(47, 47, 47);
    font-size: 20px;
    color: white;
    border-radius: 30px;
    padding: 10px;
    margin: 4px;
    border: 2px solid rgb(60, 60, 60);
    cursor: pointer;
    transition: .4s;
}
.selections button:hover {
    transition: .4s;
    background-color: rgba(82, 82, 82, 0.924);
}

